<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{userDetails.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{userDetails.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/userDetailss}" th:text="#{userDetails.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('userDetails')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='userDetails', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userDetails', field='email')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userDetails', field='department', type='select')}" />
                <input type="submit" th:value="#{userDetails.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
