<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{department.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{department.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/departments/add}" th:text="#{department.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${departments.empty}" th:text="#{department.list.empty}" />
            <div th:if="${!departments.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{department.id.label}" scope="col" />
                            <th th:text="#{department.department.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="department : ${departments}">
                            <td th:text="${department.id}" />
                            <td th:text="${department.department}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/departments/edit/{id}(id=${department.id})}" th:text="#{department.list.edit}" class="btn btn-sm btn-secondary" />
                                    <form th:action="@{/departments/delete/{id}(id=${department.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{department.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
